.commidity-container {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;

  img {
    width: 100px;
    height: 100px;
  }

  .info-container {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .title {
      font-weight: bold;
    }

    .price {
      margin-top: 6px;
      color: gray;
    }

    .handle-container {
      display: flex;
      margin-top: auto;

      .delete {
        margin-left: auto;
      }
    }
  }
}
